#app{

    height: 100vh;
    width: 100%;
    background-image: url('../img/escheresque_ste.png');
    display: flex;
    align-items: center;
    justify-content: center;

}

.title {
    text-align: center;
}



.main-page{
    border-radius: 4%;
    min-height: 700px;
    height:80%;
    width:45%;
    background: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;

}

.GetHandle {
    width: 90%;

}

.avatarFrame {
    height: 25%;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.user-image{
    border-radius: 100%;
}


.avatar {
    margin-bottom: 5%;
}

.stats-bars{
    margin-bottom:4%;
}

.stat-bar{
    margin-bottom: 4%;
}




